.box {
  min-height: 150px;
  width: 330px;
  margin: 10px;
  box-shadow: 5px 5px 15px aqua;
  background: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


p{
  color: black;
  z-index: 4545;
  font-size: 1rem;
}
