<div id="main">
  <div class="header" >
    <p>{{Current_date | date:'short'}}</p>
  </div>
  <div class="option">
  <label for="days" >Day</label>
  <select name="days" id="days" [(ngModel)]="data" (click)="getDay()">
    <option value="monday">Monday</option>
    <option value="tuesday">Tuesday</option>
    <option value="wednesday">Wednesday</option>
    <option value="thrusday">Thrusday</option>
    <option value="friday">Friday</option>
  </select>
  <button (click)="getDay()" >Done</button>
</div>
  <div class="sch">
   
    <app-container  *ngFor=" let item of result"  [teacher]="item.teacher" [class]="item.class" [time]="item.time" [link]="item.link">

    </app-container> 
  </div>
  
</div> 